.container{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(300px,3fr));
    grid-gap: 1rem;
}
.box{
    font-size: 2rem;
    background-color: turquoise;
    border: 2px double rgb(11, 131, 119);
}