.item{
    border:1px dashed black;
    background-color: coral;
    margin:1px;
    padding: 2px;
    height: 50px;
}
*{
    margin: 0px;
    padding: 0pX;
}
.main-container{
    display: grid;
    grid-template-columns:1.5fr 3fr 5fr 3fr 1.5fr;
}
.item:first-child{
    grid-column-start:3;
    grid-column-end:5 ;
    grid-row-start:3;
    grid-row-end: 11;
}
