<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project 2</title>
</head>
<body>
    <h1>  Please Fill up the form below </h1>
    
    <form action = "submitDetails" method = "POST" >
        <input name = "namee" placeholder='Enter your Name' type='text' id = 'naam'> </input>
        <input name = "age" placeholder='Enter your age' type='number' id = 'umar'> </input>
        <input name = "address" placeholder='Address' type='textBox' id = 'pata'> </input>
        <a href = "/submitDetails">
            <button type = "submit">Submit the details noww</button>
        </a>
    </form>
</body>
</html>